.dashboard {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #e5e5e5;

	.container {
		display: flex;
		height: 100vh;

		.main {
			display: flex;
			flex: 5;
			flex-direction: column;
			width: 100%;
			border-left: 1px solid rgba(233, 233, 233, 0.6);
			padding: 20px;
			margin-left: 40px;

			.users {
				width: 66px;
				height: 28px;
				left: 343px;
				top: 160px;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;
				padding: 10px;
				color: #213f7d;
			}

			.widgets {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
