.dashboard {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #e5e5e590;
	height: 100%;

	.container {
		display: flex;

		.main {
			display: flex;
			flex: 5;
			flex-direction: column;
			width: 100%;
			border-left: 1px solid rgba(233, 233, 233, 0.6);
			padding: 20px;
			margin-left: 40px;

			.users {
				width: 66px;

				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;
				padding: 10px;
				color: #213f7d;
			}

			.widgets {
				display: flex;
				justify-content: space-around;
				align-items: center;

				.left {
					display: flex;
					justify-content: space-between;
					gap: 20px;
				}
				.right {
					display: flex;
					justify-content: space-between;
					gap: 20px;
				}
			}

			.tableContainer {
				width: 100%;
				padding-top: 30px;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.widgets {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 20px;
	}

	.tableContainer {
		width: 60%;
		padding-top: 30px;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.widgets {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 20px;
		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;
		}
		.right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;
		}
	}

	.tableContainer {
		width: 50%;
		padding-top: 30px;
		justify-content: center;
		align-items: center;
	}
}
