.userDetails {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #e5e5e590;
	height: 100%;

	.container {
		display: flex;
		justify-content: center;

		.main {
			display: flex;
			flex: 5;
			flex-direction: column;
			width: 100%;
			border-left: 1px solid rgba(233, 233, 233, 0.6);
			padding: 20px;
			margin-left: 40px;

			.back_link {
				display: flex;
				width: 150px;
				gap: 5px;

				.arrow {
					font-size: 20px;
				}
			}
			.back_link > span {
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #545f7d;
			}

			.user_header {
				display: flex;
				justify-content: space-between;
				width: 100%;

				.users {
					font-family: figTree, Work Sans;
					width: 143px;
					height: 28px;
					left: 343px;
					top: 216px;
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 28px;

					color: #213f7d;
				}

				.statusButtons {
					display: flex;
					justify-content: space-between;
					gap: 10px;

					.blacklist {
						box-sizing: border-box;
						width: 170px;
						height: 45px;
						border: 1px solid #e4033b;
						border-radius: 8px;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						letter-spacing: 0.1em;
						text-transform: uppercase;
					}

					.activate {
						box-sizing: border-box;
						width: 170px;
						height: 40px;
						border: 1px solid #39cdcc;
						border-radius: 8px;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						letter-spacing: 0.1em;
						text-transform: uppercase;
					}
				}
			}

			.profile_header {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				height: 210px;
				width: 97%;
				border-radius: 4px;
				background-color: #ffffff;
				border: 1px solid rgba(33, 63, 125, 0.06);
				box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
				padding: 30px 0 0 25px;

				.top {
					display: flex;
					gap: 3rem;
					padding-left: 1rem;
					align-items: center;

					.user {
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							width: 100px;
							height: 100px;
							border-radius: 50%;
							object-fit: cover;
						}

						> span > ul > .username {
							list-style: none;
							font-family: "Work Sans";
							font-style: normal;
							font-weight: 500;
							font-size: 22px;
							line-height: 28px;
							color: #213f7d;
						}
						> span > ul > .account_id {
							list-style: none;
							font-family: "Work Sans";
							font-style: normal;
							font-weight: 400;
							font-size: 14px;
							padding-top: 5px;
							line-height: 16px;
							color: #545f7d;
						}
					}
					.tier {
						justify-content: center;
						align-items: center;

						> ul > .user_tier {
							list-style: none;
							font-family: "Work Sans";
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 16px;
							color: #545f7d;
							padding-bottom: 5px;
						}

						> ul > .rating {
							list-style: none;
							color: #e9b200;
						}
					}
					.account_info {
						justify-content: center;
						align-items: center;

						.balance {
							list-style: none;
							font-family: "Work Sans";
							font-style: normal;
							font-weight: 500;
							font-size: 18px;
							line-height: 16px;
							color: #545f7d;
							padding-bottom: 5px;
						}

						.account_no {
							list-style: none;
							font-family: "Work Sans";
							font-style: normal;
							font-weight: 400;
							font-size: 14px;
							line-height: 16px;
							color: #545f7d;
						}
					}
					.divider {
						opacity: 0.2;
						height: 70px;
						border-left: 1px solid #0d0f14;
					}
				}
				.bottom {
					display: flex;
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					color: rgba(0, 0, 0, 0.8);
					align-items: center;

					ul {
						display: flex;
						list-style: none;
						justify-content: space-between;
						width: 90%;

						> li:nth-of-type(1) {
							color: #39cdcc;
							text-decoration: underline;
							text-underline-offset: 15px;
							padding-bottom: 0 !important;
						}
					}
				}
			}
			.general_details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 97.5%;
				background-color: #ffffff;
				padding: 10px;
				margin-top: 30px;

				.profile_info {
					display: flex;
					flex-direction: column;
					font-family: "Work Sans";
					font-style: normal;

					h3 {
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 17px;
						line-height: 19px;
						color: #213f7d;
						padding-left: 40px;
						padding-top: 20px;
					}

					.top {
						display: flex;
						align-items: left;
						gap: 95px;
						width: 90%;
					}
					.bottom {
						display: flex;
						align-items: left;
						gap: 95px;
						width: 100%;
					}
					ul {
						list-style: none;
					}

					.field {
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 14px;
						text-transform: uppercase;
						color: #545f7d;
					}

					.value {
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #545f7d;
					}
				}
				.seperator {
					display: flex;
					align-self: center;
					opacity: 0.2;
					width: 90%;
					border-bottom: 1px solid #0d0f14;
					padding: 15px 0 15px 35px;
				}

				.guarantor2 {
					display: flex;
					align-items: left;
					gap: 95px;
					width: 100%;
					margin: 30px 0 30px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.main {
		display: flex;
		flex-direction: column;
		width: 70%;
		align-items: center;
		border-left: 1px solid rgba(233, 233, 233, 0.6);
		padding: 10px;
		margin-left: 20px;

		.user_header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60%;

			.users {
				font-family: figTree, Work Sans;
				width: 143px;
				height: 28px;
				left: 343px;
				top: 216px;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;

				color: #213f7d;
			}

			.statusButtons {
				display: flex;
				padding: 10px;
				justify-content: center;
				gap: 10px;
			}
		}

		.profile_header {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 210px;
			width: 70%;
			border-radius: 4px;
			background-color: #ffffff;
			border: 1px solid rgba(33, 63, 125, 0.06);
			box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
			padding: 30px 0 0 5px;

			.top {
				display: flex;
				flex-direction: column;
				gap: 3rem;
				padding-left: 1rem;
				align-items: center;

				.user {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}

					> span > ul > .username {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
						color: #213f7d;
					}
					> span > ul > .account_id {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						padding-top: 5px;
						line-height: 16px;
						color: #545f7d;
					}
				}
				.tier {
					justify-content: center;
					align-items: center;
					flex-direction: column;

					> ul > .user_tier {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 16px;
						color: #545f7d;
						padding-bottom: 5px;
					}
				}
				.account_info {
					justify-content: center;
					align-items: center;
					flex-direction: column;

					.balance {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 16px;
						color: #545f7d;
						padding-bottom: 5px;
					}

					.account_no {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #545f7d;
					}
				}
				.divider {
					opacity: 0.2;
					height: 70px;
					border-left: 1px solid #0d0f14;
					// display: none;
				}
			}
			.bottom {
				display: flex;
				flex-direction: column;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				color: rgba(0, 0, 0, 0.8);
				align-items: center;

				ul {
					display: flex;
					flex-direction: column;
					list-style: none;
					justify-content: space-between;
					width: 90%;

					> li:nth-of-type(1) {
						color: #39cdcc;
						text-decoration: underline;
						text-underline-offset: 15px;
						padding-bottom: 0 !important;
					}
				}
			}
		}
		.general_details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 97.5%;
			background-color: #ffffff;
			padding: 10px;
			margin-top: 30px;
			align-items: center;

			.profile_info {
				display: flex;
				flex-direction: column;
				font-family: "Work Sans";
				font-style: normal;

				h3 {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 17px;
					line-height: 19px;
					color: #213f7d;
					padding-left: 40px;
					padding-top: 20px;
				}

				.top {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 90%;
				}
				.bottom {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 100%;
				}
				ul {
					list-style: none;
				}

				.field {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #545f7d;
				}

				.value {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					color: #545f7d;
				}
			}
			.seperator {
				display: flex;
				flex-direction: column;
				align-self: center;
				opacity: 0.2;
				width: 90%;
				border-bottom: 1px solid #0d0f14;
				padding: 15px 0 15px 35px;
			}

			.guarantor2 {
				display: flex;
				flex-direction: column;
				align-items: left;
				gap: 95px;
				width: 100%;
				margin: 30px 0 30px 0;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.main {
		display: flex;
		flex-direction: column;
		width: 60%;
		border-left: 1px solid rgba(233, 233, 233, 0.6);
		padding: 10px;
		margin-left: 10px;

		.back_link {
			display: flex;
			align-content: left;
			justify-items: flex-start;
			gap: 5px;
		}

		.user_header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			.users {
				font-family: figTree, Work Sans;
				width: 143px;
				height: 28px;
				left: 343px;
				top: 216px;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;

				color: #213f7d;
			}

			.statusButtons {
				display: flex;
				padding-bottom: 20px;
				justify-content: space-between;
				gap: 10px;
			}
		}

		.profile_header {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 190px;
			width: 60%;

			.top {
				display: flex;
				flex-direction: column;
				gap: 3rem;
				padding-left: 1rem;
				align-items: center;

				.user {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}

					> span > ul > .username {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
						color: #213f7d;
					}
					> span > ul > .account_id {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						padding-top: 5px;
						line-height: 16px;
						color: #545f7d;
					}
				}

				.account_info {
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}
				.divider {
					opacity: 0.2;
					height: 70px;
					border-left: 1px solid #0d0f14;
				}
			}
			.bottom {
				display: flex;
				flex-direction: column;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				color: rgba(0, 0, 0, 0.8);
				align-items: center;

				ul {
					display: flex;
					flex-direction: column;
					list-style: none;
					justify-content: space-between;
					width: 90%;

					> li:nth-of-type(1) {
						color: #39cdcc;
						text-decoration: underline;
						text-underline-offset: 15px;
						padding-bottom: 0 !important;
					}
				}
			}
		}
		.general_details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 97.5%;

			.profile_info {
				display: flex;
				flex-direction: column;

				h3 {
					font-size: 17px;
					line-height: 19px;
					color: #213f7d;
					padding-left: 10px;
					padding-top: 10px;
				}

				.top {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 90%;
				}
				.bottom {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 100%;
				}
				ul {
					list-style: none;
				}

				.field {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #545f7d;
				}

				.value {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					color: #545f7d;
				}
			}
			.seperator {
				display: flex;
				flex-direction: column;
				align-self: center;
				opacity: 0.2;
				width: 90%;
				border-bottom: 1px solid #0d0f14;
				padding: 15px 0 15px 35px;
			}

			.guarantor2 {
				display: flex;
				flex-direction: column;
				align-items: left;
				gap: 95px;
				width: 100%;
				margin: 30px 0 30px 0;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-left: 1px solid rgba(233, 233, 233, 0.6);
		padding: 10px;
		margin-left: 10px;

		.user_header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			.users {
				font-family: figTree, Work Sans;
				width: 143px;
				height: 28px;
				left: 343px;
				top: 216px;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;

				color: #213f7d;
			}

			.statusButtons {
				display: flex;

				justify-content: space-between;
				gap: 10px;

				.blacklist {
					box-sizing: border-box;
					width: 170px;
					height: 45px;
					border: 1px solid #e4033b;
					border-radius: 8px;
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					margin-bottom: 20px;
				}

				.activate {
					box-sizing: border-box;
					width: 170px;
					height: 40px;
					border: 1px solid #39cdcc;
					border-radius: 8px;
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
			}
		}

		.profile_header {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 210px;
			width: 67.5%;

			.top {
				display: flex;
				flex-direction: column;
				gap: 3rem;
				padding-left: 1rem;
				align-items: center;

				.user {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}

					> span > ul > .username {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
						color: #213f7d;
					}
					> span > ul > .account_id {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						padding-top: 5px;
						line-height: 16px;
						color: #545f7d;
					}
				}
				.tier {
					justify-content: center;
					align-items: center;
					flex-direction: column;

					> ul > .user_tier {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 16px;
						color: #545f7d;
						padding-bottom: 5px;
					}

					> ul > .rating {
						list-style: none;
						color: #e9b200;
					}
				}
				.account_info {
					justify-content: center;
					align-items: center;
					flex-direction: column;

					.balance {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 16px;
						color: #545f7d;
						padding-bottom: 5px;
					}

					.account_no {
						list-style: none;
						font-family: "Work Sans";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #545f7d;
					}
				}
				.divider {
					opacity: 0.2;
					height: 70px;
					border-left: 1px solid #0d0f14;
				}
			}
			.bottom {
				display: flex;
				flex-direction: column;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				color: rgba(0, 0, 0, 0.8);
				align-items: center;

				ul {
					display: flex;
					flex-direction: column;
					list-style: none;
					justify-content: space-between;
					width: 90%;

					> li:nth-of-type(1) {
						color: #39cdcc;
						text-decoration: underline;
						text-underline-offset: 15px;
						padding-bottom: 0 !important;
					}
				}
			}
		}
		.general_details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 67.5%;
			background-color: #ffffff;
			padding: 10px;
			margin-top: 30px;

			.profile_info {
				display: flex;
				flex-direction: column;
				font-family: "Work Sans";
				font-style: normal;

				h3 {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 17px;
					line-height: 19px;
					color: #213f7d;
					padding-left: 40px;
					padding-top: 20px;
				}

				.top {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 90%;
				}
				.bottom {
					display: flex;
					flex-direction: column;
					align-items: left;
					gap: 95px;
					width: 100%;
				}
				ul {
					list-style: none;
				}

				.field {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #545f7d;
				}

				.value {
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					color: #545f7d;
				}
			}
		}
	}
}
