.sidebar_container {
	display: flex;
	flex-direction: column;
	background-color: white;
	flex: 1;
	border-right: 0.5px solid rgb(227, 227, 227);
	position: relative;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: white;
	flex: 1;
	border-right: 0.5px solid rgb(227, 227, 227);
	font-family: "Work Sans";

	.top {
		align-items: center;
		justify-content: center;

		.organisation {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px;

			h2 {
				color: #213f7d;
				font-size: 16px;
				font-weight: 400;
			}
		}

		.mainDash {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 5px;
			padding: 20px;
			color: #213f7d;

			p {
				font-family: Work Sans;
				font-size: 18px;
				font-weight: 400;
				line-height: 19px;
				letter-spacing: 0px;
				text-align: left;
				color: #213f7d;
			}
		}
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;

		ul {
			list-style: none;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0px;
			width: 100%;

			.title {
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				color: #545f7d;
				margin-top: 15px;
				margin-bottom: 5px;
				padding-left: 20px;
			}

			li {
				display: flex;
				align-items: center;
				font-size: 16px;
				padding-bottom: 15px;
				padding-top: 15px;
				padding-left: 20px;
				cursor: pointer;

				&:hover {
					background-color: #ece8ff;
				}

				&:link {
					text-decoration: none;
				}

				.icon {
					font-size: 16px;
					color: #21407da1;
				}

				span {
					font-size: 16px;
					font-weight: 400;
					color: #213f7d;
					margin-left: 10px;
					line-height: 19px;
				}
			}
		}
	}
	.bottom {
		display: flex;
		align-items: center;
		margin: 10px;
	}
}

@media screen and (max-width: 768px) {
	.top > .organisation > p {
		display: none;
	}
	.top > .organisation > .icon {
		display: none;
	}
	.top > .mainDash > p {
		display: none;
	}

	.menu > ul > li > span {
		display: none;
	}

	.menu > ul > .title {
		display: none;
	}
	.menu > ul :link > li > span {
		display: none;
	}
}
